﻿

@using Sol_Razor_AsyncTask.Dal;
@using Sol_Razor_AsyncTask.Entity;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        #table{
       margin-left: 335px;
    text-align: center;
    
        }
        td{
               background-color: blue;
    height: 50px;
    width: 165px;
    border-radius: 90px;
    border-color: red;
    border-width: 2px;
        }
       #divTd{
           height: 30px;
    width: 129px;
    background-color: green;
    margin-left: 19px;
   
        }
        /*.header{
          background-color: blue;
    height: 50px;
    width: 165px;
    border-radius: 90px;
        }
        .Data{
    background-color: greenyellow;
    height: 50px;
    width: 165px;
    border-radius: 90px;
        }*/
    </style>
</head>
<body>
    <div>
    @{

        var getPersonData = new ProductDal().GetPersonData();

        <table border="0" id="table">
            <tr >
                <td class="header">Product Id</td>
                <td class="header"> Product Name</td>
                <td class="header"> Product Price</td>
                <td class="header"> Available Quantity</td>
            </tr>

            @{
                foreach (var Obj in getPersonData)
                {
                    <tr>
                        <td class="Data">
                            <div id="divTd">
                                
                            </div>
                            <span>@Obj.ProductId</span>
                        </td>

                        <td>
                            <div  id="divTd">

                            </div>
                            <span class="Data">@Obj.ProductName</span>
                        </td>

                        <td>
                            <div  id="divTd">

                            </div>
                            <span class="Data">@Obj.ProductPrice</span>
                        </td>
                        <td>
                            <div  id="divTd">

                            </div>
                            <span class="Data">@Obj.ProductQuantity</span>
                        </td>
                    </tr>
                }
            }

        </table>

    }
    </div>
</body>
</html>
